<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Generate Presale</h2>
      <div class="row mt-5">
        <div class="col-6">
          <p><span>Amount of tokens in presale: </span><input [(ngModel)]="amount" type="text" placeholder="in ether..."></p>
          <p><span>Price of token: </span><input [(ngModel)]="tokenPrice" type="text" placeholder="in ether..."></p>
          <p><span>Max eth spend per buyer: </span><input [(ngModel)]="maxEthPerBuyer" type="text" placeholder="in ether..."></p>
          <p><span>HardCap: </span><input [(ngModel)]="hardCap" type="text" placeholder="in ether..."></p>
          <p><span>SoftCap: </span><input [(ngModel)]="softCap" type="text" placeholder="in ether..."></p>
        </div>
        <div class="col-6">
          <p><span>liquidity percent(100% -> 1000): </span><input [(ngModel)]="liquidityPercent" type="text"></p>
          <p><span>Listing rate: </span><input [(ngModel)]="listingRate" type="text" placeholder="in ether..."></p>
          <p><span>Start date: </span><input [(ngModel)]="startDate" type="datetime" placeholder="YYYY/MM/DD hh:mm:ss"></p>
          <p><span>End date: </span><input [(ngModel)]="endDate" type="datetime" placeholder="YYYY/MM/DD hh:mm:ss"></p>
          <p><span>Lock period: </span><input [(ngModel)]="lockPeriod" type="text"></p>
        </div>
      </div>
      <button (click)="createPresale()">Generate presale</button>
      <hr>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <h2>Participate in the presale:</h2>
      <div class="row mt-5">
        <div class="col-12">
          <p><span>Quantity: </span><input [(ngModel)]="quantity" type="text" placeholder="in ether..."></p>
          <button (click)="userDeposit()">Deposit</button>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <h2>Add liquidity:</h2>
      <div class="row mt-3">
        <div class="col-12">
          <button (click)="addLiquidity()">Add liquidity</button>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <h2>Presales info and status: </h2>
      <hr>
      <div class="presale" *ngFor="let presale of allPresaleInfo;let i = index">
        <h3>Presale {{ i+1 }} with address {{ presale.address }}</h3>
        <hr>
        <h4 class="text-warning"><strong>Status: {{ presale.status }} => {{ getValueOfStatus(presale.status, presale.endBlock) }}</strong></h4>
        <p>{{ timeToEnd }}</p>
        <div class="row mt-5">
          <div class="col-6">
            <h3>Info:</h3>
            <hr>
            <p>Presale owner: {{ presale.owner }}</p>
            <p>Sale token: {{ presale.saleToken }}</p>
            <p>Base token: {{ presale.baseToken }}</p>
            <p>Token price: {{ toEth(presale.tokenPrice) | number}}</p>
            <p>Max spend per buyer: {{ toEth(presale.maxSpendPerBuyer) | number}}</p>
            <p>Amount: {{ toEth(presale.amount) | number}}</p>
            <p>HardCap: {{ toEth(presale.hardCap) | number}}</p>
            <p>SoftCap: {{ toEth(presale.softCap) | number}}</p>
            <p>Liquidity percent: {{ presale.liquidityPercent }}</p>
            <p>Listing rate: {{ toEth(presale.listingRate) | number}}</p>
            <p>Start Block: {{ presale.startBlock }}</p>
            <p>End Block: {{ presale.endBlock }}</p>
            <p>Lock period: {{ presale.lockPeriod }}</p>
            <p>Presale in ETH?: {{ presale.presaleInEth }}</p>
          </div>
          <div class="col-6">
            <h3>Status: </h3>
            <hr>
            <p>WhiteList only: {{ presale.whiteListOnly }}</p>
            <p>LP generation complete: {{ presale.lpGenerationComplete }}</p>
            <p>Force failed: {{ presale.forceFailed }}</p>
            <p>Total base collected: {{ toEth(presale.totalBaseCollected) | number}}</p>
            <p>Total tokens collected: {{ toEth(presale.totalTokensSold) | number}}</p>
            <p>Total tokens withdrawn: {{ toEth(presale.totalTokensWithdrawn) | number}}</p>
            <p>Total base withdrawn: {{ toEth(presale.totalBaseWithdrawn) | number}}</p>
            <p>Round 1 length: {{ toEth(presale.round1Length) | number}}</p>
            <p>Number of buyers: {{ presale.numBuyers }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>